.offers{
    display:flex;
    flex-direction: column;
   
}
.offers h3{
    color: rgb(74, 194, 74);
    font-size: 35px;
    font-weight: 350;
    letter-spacing: -1px;
    
}
.list{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    list-style-type: none;
   
}
.list li{
    padding-right: 0.5rem;
    
}
.list img{
    width: 300px;
    background-repeat: no-repeat;
    height: 200px;
}
.list p{
    color: white;
}