.liItems {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0.2rem;
    cursor: pointer;
    gap: 1rem;
}

.liItems img {
    width: 250px;
    background-repeat: no-repeat;
    height: 200px;
}
.liItems p {
    color: white;
    font: 14px Arial, Helvetica, sans-serif;
}
.links{
    text-decoration-line: none;
    color: black;
}