.features {

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    height: 100%;
    font-size: 14px;
}


.wrapper {
    display: flex;
    justify-content: space-between;
    flex: 1;

}

.cols {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem;
    flex: 1;
}

.colsParagraf {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.wrapper :link {
    text-decoration: none;

}

.paragraf {
    font: 14px Arial, Helvetica, sans-serif;
    color: rgb(128, 164, 32);
}

.paragraf2 {
    font: 14px Arial, Helvetica, sans-serif;
    color: white;
}

.links {
    color: black;
    text-decoration: none;
}

.paragraf2 .links {
    color: white;
    text-decoration: underline;
}



@media (max-width: 1000px) {
    .features {
        padding-left: 0.5rem;
    }
}

@media(max-width:480px) {
    .features {
        padding: 0rem 5rem;
        align-items: center;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .paragraf,
    .paragraf2 {
        flex-direction: row;
    }
}

