.title {
    display: none;
    color: white;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: -0.5px;
    padding-bottom: 0.5rem;
}

.offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    width: 100%;
    gap: 1.5rem;
}

.information {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    background-color: #191919;
    color: #bababa;
    padding-left: 1rem;
    padding: 1.5rem;
    
}

.informationTitle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 50%;
}

.informationTitle p {
    font-size: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    color: white;
    flex: 1;
    gap: 1rem;
    /* padding-left: 1rem; */
}

.cols {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0.2rem;

}

.cols ul {

    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

.cols ul li {
    flex: 1;
    list-style-type: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    padding-left: 0.2rem;
    padding-top: 1rem;
}

@media (max-width: 630px) {
    .information {
        display: none;
    }

    .cols ul {
        flex-direction: column;
    }

    .title {
        display: flex;

    }
}
